[submodule "atk4"]
	path = atk4
	url = git@github.com:atk4/atk4.git
[submodule "atk4-addons"]
	path = atk4-addons
	url = git@github.com:atk4/atk4-addons.git
[submodule "external/jqueryui.com"]
	path = external/jqueryui.com
	url = git://github.com/jquery/jqueryui.com.git
[submodule "external/jquery-ui"]
	path = external/jquery-ui
	url = git://github.com/jquery/jqueryui.com.git
[submodule "external/jquery.com"]
	path = external/jquery.com
	url = git://github.com/jquery/jqueryui.com.git
[submodule "external/grunt-jquery-content"]
	path = external/grunt-jquery-content
	url = git://github.com/jquery/jqueryui.com.git
[submodule "external/web-base-template"]
	path = external/web-base-template
	url = git://github.com/jquery/jqueryui.com.git
